/*
 * @Author: 焦质晔
 * @Date: 2021-02-09 09:27:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-05-03 19:00:17
 */
@import '../../style/src/common';

$prefix: '#{$qm-prefix}-cropper-preview';

.#{$prefix} {
  @include reset-component();
  display: flex;
  flex-direction: row;
  .cropper-area {
    flex: 1;
    margin-right: $margin-base;
    .actions {
      margin-top: $margin-base;
    }
  }
  .preview-area {
    width: 400px;
    display: flex;
    justify-content: center;
    .preview {
      overflow: hidden;
    }
  }
}
