/*
 * @Author: 焦质晔
 * @Date: 2021-02-09 09:27:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-02-22 20:05:20
 */
@import '../../style/src/common';

$prefix: '#{$qm-prefix}-dialog';

.#{$prefix} {
  &__flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    .el-dialog__body {
      flex: 1;
      height: 0;
    }
  }
  .el-dialog__header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 52px;
    margin: 0;
    padding: 0 10px 0 15px;
    border-bottom: 1px solid $border-color-base;
    box-sizing: border-box;
    .dialog-title {
      flex: 1;
      display: flex;
      align-items: center;
      .title {
        flex: 1;
        font-size: $font-size-lg;
      }
      .fullscreen {
        padding: 5px;
        padding-right: 2px;
        line-height: 1;
        color: $text-color-secondary;
        cursor: pointer;
        i {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
    .el-dialog__headerbtn {
      position: static;
      padding: 5px;
      margin-right: -5px;
      font-size: 22px;
      line-height: 1;
      outline: none;
      .el-icon-close {
        font-weight: 700;
        color: $text-color-secondary;
        vertical-align: top;
      }
    }
  }
  .el-dialog__body {
    padding: 0;
    .dialog-container {
      height: 100%;
      padding: $padding-base;
      word-break: normal;
      overflow-y: auto;
      box-sizing: border-box;
    }
  }
  // ------ size ------
  // 40  36  32  28
  &--medium {
    .el-dialog__header {
      height: 48px;
    }
  }
  &--small {
    .el-dialog__header {
      height: 44px;
    }
  }
  &--mini {
    .el-dialog__header {
      height: 40px;
    }
  }
}
