/*
 * @Author: 焦质晔
 * @Date: 2021-02-09 09:27:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-02-28 09:50:29
 */
@import '../../style/src/common';

$prefix: '#{$qm-prefix}-upload';

.#{$prefix} {
}
