/*
 * @Author: 焦质晔
 * @Date: 2020-03-18 10:26:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-10 17:05:50
 */
$prefix: '#{$qm-prefix}-table__alert';

.#{$prefix} {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  margin-right: $v-module-distance;
  word-wrap: break-word;
  padding: 0 6px 0 30px;
  border: 1px solid $v-table-border-color;
  border-radius: $v-border-radius;
  background-color: $v-table-header-background-color;
  @extend %boxSizing;
  .iconfont {
    position: absolute;
    left: 8px;
    line-height: 0;
    font-size: 1.175em;
    color: $v-primary-color;
  }
  span {
    line-height: 1;
  }
  em {
    display: inline-block;
    line-height: 1;
    color: $v-primary-color;
    padding: 0 $v-module-distance;
    margin-right: -5px;
    font-style: normal;
    cursor: pointer;
  }
}
