/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:13:54
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-11 19:23:37
 */
.body--column {
  .cell--edit {
    .el-input-group {
      display: table;
      .el-input__suffix {
        transition: none;
      }
      .el-input-group__append {
        padding: 0 13px;
      }
    }
    .el-input__inner {
      font-size: $v-font-size;
      text-align: left;
      line-height: 1;
    }
    .el-date-editor {
      width: 100%;
      .el-input__inner {
        padding-left: 30px;
      }
    }
    .el-select {
      width: 100%;
    }
    .is-disabled {
      .el-input-group__append {
        cursor: not-allowed;
        .el-button {
          pointer-events: none;
        }
      }
    }
    &.is-error {
      position: relative;
      display: flex;
      align-items: center;
      .el-input__inner {
        border-color: $v-danger-color;
      }
      .search-helper + .cell-error {
        right: 40px;
      }
      .cell-error {
        position: absolute;
        font-size: $v-font-size-mini;
        color: $v-danger-color;
        right: $v-module-distance;
        pointer-events: none;
      }
    }
  }
  &.col--center {
    .cell--edit .el-input__inner {
      text-align: center;
    }
  }
  &.col--right {
    .cell--edit .el-input__inner {
      text-align: right;
    }
  }
}
