/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:13:50
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-11 10:04:03
 */
$prefix: '#{$qm-prefix}-table';

.#{$prefix}-column-filter {
  display: inline-block;
  margin-left: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover,
  &.selected {
    color: $v-primary-color;
  }
  em {
    margin-right: 4px;
  }
}

.column-filter--wrap {
  max-width: 175px;
  li.item {
    position: relative;
    line-height: 1.75;
    white-space: nowrap;
    text-overflow: ellipsis;
    .handle {
      padding: 2px 4px;
      font-weight: 700;
      cursor: s-resize;
    }
    .fixed {
      position: absolute;
      right: 0;
      i {
        cursor: pointer;
      }
    }
  }
  .left {
    li {
      padding-right: 15px;
    }
  }
  .main {
    li {
      padding-right: 30px;
    }
  }
  .right {
    li {
      padding-right: 15px;
    }
  }
  .divider {
    height: 0;
    border-top: 1px solid $v-table-resizable-color;
    margin: 4px 0;
  }
}
