/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:02:54
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-13 14:54:05
 */
%boxSizing {
  box-sizing: border-box;
}

@mixin text-overflow-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin fl {
  float: left;
}

@mixin fr {
  float: right;
}

@mixin clearfix {
  zoom: 1;
  &::before,
  &::after {
    display: table;
    content: '';
  }
  &::after {
    clear: both;
  }
}
