/*
 * @Author: 焦质晔
 * @Date: 2020-03-26 11:26:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-11 10:04:47
 */
$prefix: '#{$qm-prefix}-table';

.#{$prefix}-export {
  display: inline-block;
  padding: 5px 3px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  .iconfont {
    font-size: 1.15em;
  }
  &:hover {
    color: $v-primary-color;
  }
}
