/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:13:07
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-05-21 13:56:03
 */
$prefix: '#{$qm-prefix}-table';

.#{$prefix}--footer-wrapper {
  background-color: $v-table-footer-background-color;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    z-index: 3;
    border-top: 1px solid $v-table-border-color;
  }
  .#{$prefix}--footer {
    .gutter {
      background-color: $v-table-footer-background-color;
    }
    .cell {
      font-weight: 700;
    }
  }
}
