/*
 * @Author: 焦质晔
 * @Date: 2020-02-28 22:11:53
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-13 14:57:34
 */
$prefix: '#{$qm-prefix}-table';

%TheadAlignCenter {
  .cell--text {
    justify-content: center !important;
  }
}

%TheadAlignRight {
  .cell--text {
    justify-content: flex-end !important;
  }
}

.#{$prefix}--header-wrapper {
  background-color: $v-table-header-background-color;
  .#{$prefix}--header {
    tr > th[colspan]:not([colspan='1']) {
      @extend %TheadAlignCenter;
    }
  }
  .gutter {
    background-color: $v-table-header-background-color;
  }
}

.header--column {
  .cell--wrapper {
    display: flex;
    height: 100%;
    .cell--text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
      /* 重要 */
      width: 0;
      .cell {
        padding-right: 0;
      }
    }
  }
  &.col--center {
    @extend %TheadAlignCenter;
  }
  &.col--right {
    @extend %TheadAlignRight;
  }
  &:not(.column-has-sorter):not(.column-has-filter) {
    .cell--text .cell {
      padding-right: $v-module-distance;
    }
  }
  &.column--required {
    .cell {
      &::before {
        content: '*';
        color: $v-danger-color;
        margin-right: 2px;
      }
    }
  }

  /* 排序 */
  .cell--sorter {
    position: relative;
    flex-shrink: 0;
    width: 1em;
    height: 2em;
    margin-left: 2px;
    cursor: pointer;
    .sort--asc-btn,
    .sort--desc-btn {
      position: absolute;
      color: $v-icon-color;
      line-height: 1;
      transform: scale(0.85, 0.9);
      &.sort--active {
        color: $v-primary-color;
      }
    }
    .sort--asc-btn {
      top: 2px;
    }
    .sort--desc-btn {
      bottom: 1px;
    }
  }

  /* 筛选 */
  .cell--filter {
    width: 20px;
    flex-shrink: 0;
    .filter-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: $v-icon-color;
      transition: all 0.3s ease;
      cursor: pointer;
      .icon-svg {
        line-height: 0;
      }
      &:hover,
      &.selected {
        color: $v-font-secondary-color;
        background-color: $v-table-column-filter-hover-color;
      }
      &.actived {
        color: $v-primary-color;
      }
    }
  }

  .resizable {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    width: 10px;
    z-index: 1;
    cursor: col-resize;
    &.is--line {
      &:before,
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
      }
      &:before {
        width: 1px;
        height: 50%;
        background-color: $v-table-resizable-color;
      }
      &:after {
        width: 0;
        height: 100%;
      }
    }
  }
}

.filter--wrap {
  .filter-list {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      & > span {
        margin-right: 5px;
      }
    }
  }
}
