/*
 * @Author: 焦质晔
 * @Date: 2020-03-26 11:45:02
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-10 19:02:36
 */
$prefix: '#{$qm-prefix}-table';

.#{$prefix}-pager {
  margin-top: $v-module-distance;
  text-align: right;
  .el-pagination {
    padding-left: 0;
    padding-right: 0;
    .el-pagination__jump {
      margin-left: $margin-base;
      .el-input__inner {
        line-height: 1;
      }
    }
    .el-pagination__sizes {
      margin-left: $margin-base;
      margin-right: -5px;
    }
  }
}
