/*
 * @Author: 焦质晔
 * @Date: 2020-03-26 11:45:02
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-10 12:14:41
 */
.print--wrapper {
  @include button-align(28px);
  padding: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  i {
    font-size: $v-font-size + 2px;
  }
  &:hover {
    color: $v-primary-color;
  }
  &.size--mini {
    i {
      font-size: $v-font-size;
    }
  }
}
