/*
 * @Author: 焦质晔
 * @Date: 2020-05-30 14:13:37
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-11 19:18:08
 */
$prefix: '#{$qm-prefix}-table';

.#{$prefix} {
  &--medium {
    font-size: $v-font-size-medium;
    .#{$prefix}__alert {
      height: 36px;
    }
    .header--column,
    .body--column,
    .body--expanded-column,
    .footer--column {
      &.col--ellipsis {
        @extend %MediumColumnHeight;
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-medium - $v-table-row-line-height) / 2)} 0;
      }
    }
    &.virtual--y {
      .col--ellipsis {
        .cell {
          max-height: $v-table-row-height-medium;
        }
      }
    }
  }

  &--small {
    font-size: $v-font-size-small;
    .#{$prefix}__alert {
      height: 32px;
    }
    .header--column,
    .body--column,
    .body--expanded-column,
    .footer--column {
      &.col--ellipsis {
        @extend %SmallColumnHeight;
        .cell {
          max-height: $v-table-row-height-small;
        }
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-small - $v-table-row-line-height) / 2)} 0;
      }
    }
    &.virtual--y {
      .col--ellipsis {
        .cell {
          max-height: $v-table-row-height-small;
        }
      }
    }
  }

  &--mini {
    font-size: $v-font-size-mini;
    .#{$prefix}__alert {
      height: 28px;
    }
    .header--column,
    .body--column,
    .body--expanded-column,
    .footer--column {
      &.col--ellipsis {
        @extend %MiniColumnHeight;
        .cell {
          max-height: $v-table-row-height-mini;
        }
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-mini - $v-table-row-line-height) / 2)} 0;
      }
    }
    &.virtual--y {
      .col--ellipsis {
        .cell {
          max-height: $v-table-row-height-mini;
        }
      }
    }
    .cell--edit {
      .el-input__inner {
        font-size: $v-font-size-mini;
      }
    }
  }
}
