/*
 * @Author: 焦质晔
 * @Date: 2020-05-30 14:13:37
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-05-27 22:12:10
 */
$prefix: '#{$qm-prefix}-table';

.#{$prefix} {
  // ------ size ------
  // 40  36  32  28
  &--default {
    font-size: $v-font-size;
    .#{$prefix}__alert {
      height: 40px;
    }
    .header--column,
    .body--column,
    .footer--column {
      &.col--ellipsis {
        @extend %DefaultColumnHeight;
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-default - $v-table-row-line-height) / 2)} 0;
      }
    }
  }

  &--medium {
    font-size: $v-font-size-medium;
    .#{$prefix}__alert {
      height: 36px;
    }
    .header--column,
    .body--column,
    .footer--column {
      &.col--ellipsis {
        @extend %MediumColumnHeight;
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-medium - $v-table-row-line-height) / 2)} 0;
      }
    }
  }

  &--small {
    font-size: $v-font-size-small;
    .#{$prefix}__alert {
      height: 32px;
    }
    .header--column,
    .body--column,
    .footer--column {
      &.col--ellipsis {
        @extend %SmallColumnHeight;
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-small - $v-table-row-line-height) / 2)} 0;
      }
    }
  }

  &--mini {
    font-size: $v-font-size-mini;
    .#{$prefix}__alert {
      height: 28px;
    }
    .header--column,
    .body--column,
    .footer--column {
      &.col--ellipsis {
        @extend %MiniColumnHeight;
      }
      &:not(.col--ellipsis) {
        padding: #{floor(($v-table-row-height-mini - $v-table-row-line-height) / 2)} 0;
      }
      .cell--edit {
        .el-input__inner {
          font-size: $v-font-size-mini;
        }
      }
    }
  }
}

.#{$prefix}__popper--mini {
  .head-filter--wrap {
    // ...
  }
  .column-filter--wrap {
    // ...
  }
}
