/*
 * @Author: 焦质晔
 * @Date: 2020-03-01 23:27:04
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-10 14:38:23
 */
@import './common.scss';

$prefix: '#{$qm-prefix}-table';

%DefaultColumnHeight {
  height: $v-table-row-height-default;
}

%MediumColumnHeight {
  height: $v-table-row-height-medium;
}

%SmallColumnHeight {
  height: $v-table-row-height-small;
}

%MiniColumnHeight {
  height: $v-table-row-height-mini;
}

%CellEllipsis {
  .cell {
    @include text-overflow-cut;
  }
}

.#{$prefix}--wrapper {
  @include reset-component();
}

/* 全屏 */
.#{$prefix}--maximize {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 100;
  overflow-y: auto;
  padding: $v-module-distance;
  padding-bottom: 0;
  background-color: $v-table-background-color;
  box-sizing: border-box;
}

/* 顶部信息 */
.#{$prefix}-top {
  display: flex;
  margin-bottom: $v-module-distance;
  &__space {
    flex: 1;
    display: flex;
    justify-content: space-between;
    &-slot {
      flex: 1;
      display: inline-table;
      height: 100%;
      margin-right: $v-module-distance;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
  }
}

.#{$prefix}--borders {
  .table-border-top,
  .table-border-right,
  .table-border-bottom,
  .table-border-left {
    position: absolute;
    background-color: $v-primary-color;
  }
}

.#{$prefix}--body-wrapper {
  @include reset-component();
  overflow-y: auto;
  overflow-x: auto;
}

/* table 样式 */
.#{$prefix} {
  position: relative;
  color: $v-font-color;
  font-size: $v-font-size;
  font-family: $v-font-family;
  background-color: $v-table-background-color;
  clear: both;
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 3;
  }
  &:before {
    top: 0;
    border-top: 1px solid $v-table-border-color;
  }
  &:after {
    bottom: 0;
    border-bottom: 1px solid $v-table-border-color;
  }

  &--header,
  &--body,
  &--footer {
    border: 0;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
  }

  &--header-wrapper,
  &--footer-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &:not(.is--empty) {
    &.show--foot {
      &.scroll--x {
        .table--body-wrapper {
          overflow-x: scroll;
        }
      }
    }
  }

  &.c--resize {
    cursor: col-resize;
    .header--column {
      pointer-events: none;
    }
  }

  .header--column {
    background-color: $v-table-header-background-color;
  }

  .body--column {
    transition: background-color 0.3s ease;
    background-color: $v-table-background-color;
  }

  .footer--column {
    background-color: $v-table-footer-background-color;
    border-bottom: 0;
  }

  .body--row:hover {
    .body--column {
      background-color: $v-table-row-hover-background-color;
    }
  }

  .body--row-selected {
    .body--column {
      background-color: $v-table-row-selected-background-color;
    }
  }

  .body--row-current {
    .body--column {
      background-color: $v-table-row-current-background-color;
    }
  }

  .body--expanded-row {
    .body--expanded-column {
      background-color: $v-table-row-expanded-background-color;
    }
  }

  .header--column,
  .body--column,
  .body--expanded-column,
  .footer--column {
    position: relative;
    text-align: left;
    line-height: $v-table-row-line-height;
    &:not(.col--ellipsis) {
      padding: #{floor(($v-table-row-height-default - $v-table-row-line-height) / 2)} 0;
    }
    &.col--center:not(.header--column) {
      text-align: center;
    }
    &.col--right:not(.header--column) {
      text-align: right;
    }
  }

  // 自定义
  &.is--fixed {
    .cell-fix-left,
    .cell-fix-right {
      position: sticky;
      z-index: 2;
    }
    .cell-fix-left-last {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20px;
        transform: translateX(100%);
        transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
        pointer-events: none;
      }
    }
    .cell-fix-right-first {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20px;
        transform: translateX(-100%);
        transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
        pointer-events: none;
      }
    }
    &.ping--left .cell-fix-left-last::after {
      box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.15);
    }
    &.ping--right .cell-fix-right-first::after {
      box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.15);
    }
  }

  &.is--sortable {
    .column-has-sorter {
      transition: background-color 0.3s ease;
      cursor: pointer;
      &:hover {
        background-color: $v-table-column-sort-hover-color;
      }
      &.column--sort {
        background-color: $v-table-column-sorted-color;
      }
    }
    .column--sort {
      background-color: $v-table-header-background-color;
    }
  }

  &.is--border {
    .header--column,
    .body--column,
    .body--expanded-column,
    .footer--column {
      border-bottom: 1px solid $v-table-border-color;
      border-right: 1px solid $v-table-border-color;
    }
  }

  &:not(.is--border) {
    &:before,
    &:after {
      border: 0;
    }
    .header--column,
    .body--column,
    .body--expanded-column,
    .footer--column {
      border-bottom: 1px solid $v-table-border-color;
    }
  }

  .cell {
    word-break: break-all;
    /* 保留空白字符 */
    white-space: pre !important;
    padding: 0 $v-module-distance;
    .cell--indent {
      float: left;
      height: 1px;
      visibility: hidden;
    }
  }

  /* body 填充元素 */
  .body--x-space {
    width: 100%;
    height: 0;
    visibility: hidden;
    &::after {
      content: '.';
    }
  }
  .body--y-space {
    width: 0;
    float: left;
  }

  /* 列宽线 */
  &--resizable-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    z-index: 4;
    &:before {
      content: '';
      display: block;
      height: 100%;
      background-color: $v-table-resizable-color;
    }
  }

  /* 边框线 */
  &--border-line {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 100%;
      z-index: 3;
    }
    &:before {
      left: 0;
      border-left: 1px solid $v-table-border-color;
    }
    &:after {
      right: 0;
      border-right: 1px solid $v-table-border-color;
    }
  }

  /* 溢出列 */
  .header--column,
  .body--column,
  .body--expanded-column,
  .footer--column {
    &.col--ellipsis {
      @extend %DefaultColumnHeight;
      @extend %CellEllipsis;
    }
  }
  &.virtual--y {
    .col--ellipsis {
      .cell {
        max-height: $v-table-row-height-default;
      }
    }
  }

  /* 暂无数据 */
  .empty-placeholder,
  .empty-block {
    min-height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    pointer-events: none;
  }
  .empty-block {
    display: none;
    visibility: hidden;
  }
  .empty-placeholder {
    display: none;
    position: absolute;
    top: 0;
    .content {
      display: block;
      color: $v-font-secondary-color;
      pointer-events: none;
    }
  }
  &.is--empty {
    &--empty-block,
    &--empty-placeholder {
      display: flex;
    }
  }
}
