/*
 * @Author: 焦质晔
 * @Date: 2021-02-09 16:15:17
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-05-11 16:08:52
 */
@import './themes';

@font-face {
  font-family: 'iconfont';
  src: url('#{$font-path}/iconfont.woff?t=1567214741873') format('woff'),
    /* chrome, firefox */ url('#{$font-path}/iconfont.ttf?t=1567214741873') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-svg {
  line-height: 0;
  font-style: normal;
  vertical-align: middle;
}

.icon-check-circle:before {
  content: '\e77d';
}

.icon-close-circle:before {
  content: '\e77e';
}

.icon-info-circle:before {
  content: '\e77f';
}

.icon-minus-circle:before {
  content: '\e780';
}

.icon-plus-circle:before {
  content: '\e781';
}

.icon-undo:before {
  content: '\e787';
}

.icon-redo:before {
  content: '\e788';
}

.icon-reload:before {
  content: '\e789';
}

.icon-piechart:before {
  content: '\e78e';
}

.icon-export:before {
  content: '\e791';
}

.icon-Import:before {
  content: '\e792';
}

.icon-check-square:before {
  content: '\e7a8';
}

.icon-border:before {
  content: '\e7a9';
}

.icon-delete:before {
  content: '\e7c3';
}

.icon-home:before {
  content: '\e7c6';
}

.icon-filter:before {
  content: '\e7c7';
}

.icon-funnelplot:before {
  content: '\e7c8';
}

.icon-printer:before {
  content: '\e7d8';
}

.icon-cloud-upload:before {
  content: '\e7d9';
}

.icon-cloud-download:before {
  content: '\e7da';
}

.icon-right:before {
  content: '\e7eb';
}

.icon-left:before {
  content: '\e7ec';
}

.icon-up:before {
  content: '\e7ed';
}

.icon-down:before {
  content: '\e7ee';
}

.icon-fullscreen:before {
  content: '\e7ef';
}

.icon-fullscreen-exit:before {
  content: '\e7f0';
}

.icon-upload:before {
  content: '\e7f1';
}

.icon-download:before {
  content: '\e7f2';
}

.icon-menu:before {
  content: '\e7f4';
}

.icon-line-height:before {
  content: '\e7f8';
}

.icon-check:before {
  content: '\e7fc';
}

.icon-close:before {
  content: '\e7fd';
}

.icon-minus:before {
  content: '\e7fe';
}

.icon-info-circle-fill:before {
  content: '\e844';
}

.icon-filter-fill:before {
  content: '\e866';
}

.icon-funnelplot-fill:before {
  content: '\e867';
}

.icon-zoomout:before {
  content: '\e897';
}

.icon-zoomin:before {
  content: '\e898';
}

.icon-caret-down:before {
  content: '\e8ec';
}

.icon-caret-up:before {
  content: '\e8ed';
}

.icon-caret-right:before {
  content: '\e8ee';
}

.icon-caret-left:before {
  content: '\e8ef';
}

.icon-search:before {
  content: '\e8f0';
}

.icon-step-backward:before {
  content: '\e8f1';
}

.icon-step-forward:before {
  content: '\e8f2';
}

.icon-plus:before {
  content: '\e8fe';
}

.icon-clear:before {
  content: '\e900';
}

.icon-rotate-left:before {
  content: '\e901';
}

.icon-rotate-right:before {
  content: '\e902';
}

.icon-translate:before {
  content: '\e903';
}

.icon-compress:before {
  content: '\e914';
}

.icon-expend:before {
  content: '\e915';
}
