/*
 * @Author: 焦质晔
 * @Date: 2021-02-26 16:41:10
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-03-10 11:15:41
 */
@import '../../style/src/common';

$prefix: '#{$qm-prefix}-fields-filter';

.#{$prefix} {
  .filter-item {
    line-height: 1.75;
    @include text-overflow-cut;
    .handle {
      margin: 0 5px;
      cursor: s-resize;
    }
  }
}

.popover-fields-filter {
  min-width: 100px !important;
  max-width: 160px !important;
}
