/*
 * @Author: 焦质晔
 * @Date: 2021-02-09 09:27:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-06-04 11:17:28
 */
@import '../../style/src/common';
@import './fields-filter';

$prefix: '#{$qm-prefix}-form';

.#{$prefix} {
  .el-col {
    margin-bottom: 12px;
  }
  .el-form-item {
    margin-bottom: 0 !important;
    .el-form-item__label {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: $padding-base;
      height: 40px;
      line-height: 1.2;
      .custom-label__wrap {
        display: inline-block;
        .el-input__inner {
          border-color: $border-color-base;
        }
        .el-input__suffix {
          background-color: transparent;
        }
      }
    }
    .el-form-item__content {
      display: flex;
      align-items: center;
      .el-form-item__error {
        margin-top: -2px;
        transform-origin: 0 50%;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
    }
    .el-input__inner {
      text-align: left;
      line-height: 1;
    }
    .el-search-helper {
      .el-input__suffix {
        transition: none;
      }
      .el-input-group__append {
        padding: 0 $padding-lg;
      }
    }
    .el-select {
      width: 100%;
    }
    .el-autocomplete {
      width: 100%;
    }
    .el-date-editor {
      width: 100%;
      .el-range-input {
        text-align: left;
      }
    }
    .el-textarea {
      display: block;
      .el-textarea__inner {
        font-family: inherit;
        overflow-y: auto;
      }
    }
    .el-input-number {
      width: 100%;
      .el-input-number__increase:hover ~ .el-input .el-input__inner:not(.is-disabled),
      .el-input-number__decrease:hover ~ .el-input .el-input__inner:not(.is-disabled) {
        border-color: $border-color-base;
      }
    }
    .tree-select,
    .region-select,
    .city-select {
      width: 100%;
      .select-option {
        display: none !important;
      }
    }
    .el-range-editor {
      padding-right: 5px;
      .el-range-separator {
        padding-left: 0;
        padding-right: 0;
      }
      .el-range__close-icon {
        width: 20px;
      }
    }
    .el-radio-group,
    .el-checkbox-group {
      flex-wrap: wrap;
      font-size: inherit;
      line-height: inherit;
    }
    .desc-icon {
      margin-left: $margin-base;
      font-size: larger;
    }
    .desc-text {
      @include text-overflow-cut;
      margin-left: $margin-base;
      cursor: default;
    }
    &.is-required {
      .el-form-item__label {
        color: $error-color;
      }
    }
  }
  &__only-show {
    .el-col {
      .el-form-item {
        .is-disabled {
          .el-input__inner,
          .el-textarea__inner {
            color: $text-color;
            border-style: dashed;
            background-color: $body-background;
          }
          .el-input-group__append {
            background-color: transparent;
            border-style: dashed;
          }
        }
      }
    }
  }
  // ------ size ------
  // 40  36  32  28
  &--medium {
    .el-form-item {
      .el-form-item__label {
        height: 36px;
      }
    }
  }
  &--small {
    .el-form-item {
      .el-form-item__label {
        height: 32px;
      }
    }
  }
  &--mini {
    .el-form-item {
      .el-form-item__label {
        height: 28px;
        font-size: $font-size-sm;
      }
      .desc-text {
        font-size: $font-size-sm;
      }
    }
  }
}

.qm-region-select__popper {
  box-sizing: border-box;
  max-width: 400px;
  .container {
    margin-top: -10px;
    .region-item {
      display: flex;
      flex-wrap: wrap;
      line-height: $line-height-base;
      &__item {
        margin: 0 6px;
        cursor: pointer;
        &.actived {
          color: $primary-color;
        }
      }
    }
  }
}

.qm-city-select__popper {
  box-sizing: border-box;
  max-width: 420px;
  .container {
    margin-bottom: -8px;
    .city-drop {
      &-toper {
        margin-bottom: 10px;
        display: flex;
        &__type {
          display: inline-block;
        }
        &__search {
          margin-left: 10px;
        }
      }
      &-letter {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4px;
        .tag {
          list-style: none;
          line-height: 1.75;
          font-size: $font-size-sm;
          padding: 0 8px;
          margin: 0 4px 4px 0;
          border: 1px solid $border-color-secondary;
          border-radius: $border-radius-base;
          cursor: pointer;
          &.actived {
            color: $white;
            background-color: $primary-color;
            border-color: $primary-color;
          }
        }
      }
      &-list {
        margin-right: -2px;
        max-height: 350px;
        overflow-y: auto;
        dl {
          dt {
            float: left;
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
          }
          dd {
            white-space: normal;
            margin-inline-start: 50px;
            margin-bottom: 8px;
            line-height: 20px;
            li {
              display: inline-block;
              margin-right: 8px;
              font-size: 13px;
              cursor: pointer;
              &:hover {
                color: $primary-color;
              }
              &.actived {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}

.qm-tree-select__popper {
  box-sizing: border-box;
  .tree-select__tree {
    .el-tree-node[aria-disabled='true'] > .el-tree-node__content {
      color: $disabled-color;
      background: none;
      cursor: not-allowed;
      .is-leaf {
        pointer-events: none;
      }
    }
  }
}

.qm-search-helper__popper {
  box-sizing: border-box;
  .el-autocomplete-suggestion__wrap {
    padding: 0;
    ul {
      width: 100%;
      display: table;
      li {
        display: table-row;
        th,
        td {
          line-height: 28px;
          border-bottom: 1px solid $border-color-secondary;
          span {
            padding: 0 $padding-base;
          }
        }
        th {
          background-color: $background-color-cecondary;
        }
      }
    }
  }
}
