/*
 * @Author: 焦质晔
 * @Date: 2021-02-09 09:27:46
 * @Last Modified by: 焦质晔
 * @Last Modified time: 2021-02-20 12:19:10
 */
@import '../../style/src/common';

$prefix: '#{$qm-prefix}-space';

.#{$prefix} {
  display: inline-flex;
  .el-space > span {
    line-height: 1;
  }
}
